.jumbotron{
    background-image: url("../images/stocks.jpeg");
    /* background-size: auto; */
    color: white;
}

#userInfoEntry{
    color: white;
}

#availableFunds {
    background-color: #091933;
    color: black;
    padding: 20px;
    margin: 20px;
}

body {
    background-color: #102c59;
    
}

h2,h3 {
    color: white;
}

footer {
    text-align: center;
    color: #ced5e0;
    font-size: 15px;
}

.control-label, .form-group{
    color:white;
}

button{
    margin-bottom: 25px;
}
